/* Rounded background box for content */
#content {
    padding: 30px;
    max-width: 800px;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s;
}

/* Dark mode version of content box */
.dark-mode #content {
    background: rgba(30, 30, 30, 0.9);
}

.flex-Navigation {
    /* Flexbox container */
    display: flex; /* Needed to make into
    flex container */
    /* background color */
    background-color: yellow;

    /* default: horizontal */
    flex-direction: row;

    /* For Rows */
    justify-content: center;
    
    /* For Columns */
    align-items: center;

    /* Allows items to wrap to next line, no shrink */
    flex-wrap: wrap;

    /* Items srink and won't wrap into next line */
    /* flex-wrap: nowrap; */
    margin-left: 20px;
    
    margin-right: 20px;
}

.flex-Page {
    display: flex;

    background-color: green;

    flex-flow: row wrap;

    margin-left: 20px;
    
    margin-right: 20px;
}

.flex-item {
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
    border: 1px solid blue;
    width: 50px;
    height: 20px;
    text-align: center;
    /* flex-basis: 200px; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */

}

.profile-image {
    display: block;
    margin : 0 auto;
}

h1 {
    text-align: center;
}

